<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\leino\Desktop\C#_Project\TournamentTracker\TextFiles"/>
	</appSettings>
	<connectionStrings>
		<!--The connection string tell dapper how to get sequel server and how to get in
			and the Trusted_Connection show the permissions-->
		<add name ="Tournaments" connectionString="Server=INON_PC;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>